*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
    padding: 0;
}
img{ 
    display: block;
}
header {
    display: block;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
}
div {
    display: flex;
}
.social_media_list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.icon {
    width: 40px;
    height: 40px;
}
.icon_ {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon_:hover {
    background-color: #404BBF;
}
.icon_ a:focus {
    background-color: #404BBF;
}
.icon_one {
    fill: #f4f4fd;
   
}
.list_ulb_container {
    background-color: grey;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: baseline;

}
.container_two {
    margin-right: 120px;

}
.footer_sm {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer_list {
    display: flex;
    gap: 16px;
}
.footer_insta {
    width: 40px;
    height: 40px;

}
.footer_icon_insta {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_icon_insta:hover {
    background-color: #31d0aa !important;  
}
.footer_icon_insta a:focus {
    background-color: #31d0aa !important;
}
.nav{
    display: flex;
    align-items: center;
}
.list_ul {
    display: flex;
    gap: 40px;
}
.studio {
    padding: 24px 0;
}
.list_ula {
    display: flex;
    gap: 40px;
}
.sec_one {
    background-color: #2E2F42;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hea_one { 
    color: white;
    font-family: "Roboto";
    font-size: 56px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 0.02em;   
    line-height: 1.07;   
    max-width: 496px;   
}
.button {
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #4D5AE5;
    font-size: 16px;
    cursor: pointer;
    margin: 169px 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.list_ulb {
    display: flex;
    gap: 24px;
}
.list_lii {
    flex-basis: calc((100% - 72px) / 4);
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
.hea_three {
    font-family: "Roboto";
    font-weight: Medium;
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    margin-bottom: 8px;
}
.parag_one {
    font-family: "Roboto";
    font-weight: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.list_ulc {
    display: flex;
    gap: 24px;
}
.div{
    padding: 32px 0;
}
.sec_two {
    padding-top: 120px;
    padding-bottom: 120px;
}
.sec_three {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.hea_two {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.employees {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.emp_h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}
.emp-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.sec_four {
    padding: 120px 0;
}
.port_htwo {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    border-bottom-style: solid;
    border-bottom-color: white;
    margin-bottom: 72px;
}
.list_uld {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}
.list_liii {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list_liii:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list_liii:hover .text {
    transform: translateY(0%);
}
.div_ {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
    position: relative;
    overflow: hidden;
}
.port_hthree {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.port-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.parag_two {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.span {
    color: #f4f4fd;
}
.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    margin-right: 76px;
    
}
.span_one {
    color: #2e2f42;
}
.studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
    font-style: normal;
}
.add_mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a:link {
    text-decoration: none;
}
a:hover{
    color: #404bbf;
}
a:focus{
    color: #404bbf;
}
a::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
body {
    color: #434455;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.footer_logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: #4d5ae5;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}